<div class="jumbotron">
  <h1>To Do List</h1>
  <p>This is a To Dos List Ruby on Rails Application</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %> <!--link_to-rails, class from bootstrap-->
</div>